.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: aqua; */
    min-height: 50vh;
}

.Header Button {
    margin-top: 40px;
}

.Header .BlueButton {
    color: #34d0f7;
}

.Header .BlueButton:hover {
    color: aliceblue;
    background-color: #34d0f7;
}